@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800&display=swap');

html{
	margin: 0;
	padding: 0;
	font-family: 'Nunito Sans', sans-serif;
	background: url(bg.jfif) no-repeat center / cover;
	height: 100%;
}
.page-header{
	font-size: 20px;
	text-align: center;
	justify-content: center;
	color: #fff;
	background: linear-gradient(to right, #ff8412, #c929e9);
	width: 200px;
	margin: 0 auto;
	margin-top: 30px;
	border-radius:30px;

}

.container{
	position: relative;
	justify-content: center;
	display: flex;
	m
}
.regular{
	font-size: 16px;
	
}

.card{
	position: relative;
	background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 20px );
-webkit-backdrop-filter: blur( 20px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
	color: #fffdff;
	width: 250px;
	height: 600px;
	border-radius: 15px;
	margin: 20px;
	cursor: pointer; 
	transition: all ease-in-out .7s;
}

.title{		
	font-size: 19px;
	padding: 2px;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
}
.package{
	font-size: 25px;
	background: linear-gradient(to right, #ff8412, #c929e9);
}
.price{
	margin-top: -35px;
	text-align: center;
}
.price h5{
	font-size: 4em;
	margin-top: 0px;
	padding: 20px;
}
.price h5 sup{
	font-size: 20px;
}
.price p{
	margin-top: -135px;
	font-size:12px;
	padding-bottom: 10px

}
.option{
	position: relative;
	padding: 3px;
}
.option li{
	text-align: center;
	font-size: 15px;
	padding: 4px;
	font-weight: bold;
	list-style: none;
}
button{
	position: absolute;
	bottom: 5%;
	left: 20%;
	outline: none;
	border: none;
	background: linear-gradient(to right, #e41286, #c10ee5);
	color:#eee;
	width: 150px;
	height: 30px;
	border-radius: 15px;
	font-weight: bold;
	cursor: pointer; 
	transition: all ease-in-out 1s;
	box-shadow: 0 0 4px #4c4c53;
}

.card:hover{
	background: linear-gradient(to right, #e41286, #c10ee5);
	color: #fff;
	}

.card:hover button{
	background: linear-gradient(to right, #12cbe4, #c929e9);
	transition: all .5s ease;
	color:#ffffff;
}